* {
  max-height: 100000px;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type=text]::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

textarea,
input {
  border-radius: 0;
}

input[type=image] {
  padding: 0;
  border: none;
}

input:focus, textarea:focus {
  outline: none;
}

input[type="email"]:invalid,
input[type="number"]:invalid {
  box-shadow: none;
}

input:required {
  box-shadow: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

main, article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
  display: block;
}

mark {
  background: none;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

p, dl, menu, ol, ul {
  margin: 0 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 32px;
  line-height: 1.31;
  letter-spacing: normal;
  color: #000000;
  font-weight: normal;
}

body, html {
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  min-width: 320px;
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  outline: none;
  transition: all 0.15s ease-in-out 0s;
  transition-property: color, background, border-color;
}

input, textarea, select, button {
  vertical-align: middle;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

.background{
  position: fixed;
}

.background img{
  object-fit: cover;
  height: 100vh;
}

.header-project {
  position: relative;
  color: #fff;
  margin-bottom: 150px;
}
.logo {
  position: absolute;
  left: 106px;
  top: 39px;
  width: 176px;
  height: 37px;
}

.main-nav{
  position: absolute;
  right: 106px;
  top: 39px;
  height: 37px;
  width: auto;
}
.main{
  position:relative;
  padding: 0 106px 0 106px;
  margin-bottom: 200px;
  height: 50%;
}

.main .left-block{
  float: left;
  width: 50%;
  height: 479px;
}
.main .right-block{
  float: left;
  width: 50%;
  height: 479px;
  object-fit: contain;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.22);
  box-shadow: 0 2px 23px 0 #52b7e9;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-stretch: normal;
  line-height: 479px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.main .tagline{
  margin-top: 100px;
  font-family: Montserrat;
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #fff;
}

.main .description{
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}
.main .left-block a{
  display: block;
  margin-top: 65px;
  width: 230px;
  height: 45px;
  border-radius: 22.5px;
  background-image: linear-gradient(to right, #ffb600, #fd7600);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  border: 0;
  outline: none;
}

.footer-project{
  position:relative;
  padding: 0 0 100px 0;
}

.footer-project .left-block{
  padding-left: 105px;
  padding-right: 50px;
  float: left;
  width: 50%;
  height: 505px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(231, 231, 231, 0.5));
}
.footer-project .right-block{
  padding-right: 105px;
  padding-left: 50px;
  float: left;
  width: 50%;
  height: auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(231, 231, 231, 0.5));
  text-align: center;
}

.footer-project .left-block .tagline{
  margin-top: 200px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.footer-project .left-block .thank{
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.footer-project .right-block img{
  margin-top: 60px;
}
.footer-project form{
  margin-top: 20px;
}
.footer-project input{
  text-indent: 10px;
  width: 100%;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
  border: 0;
  outline: none;
}
.footer-project input::placeholder{
  text-indent: 10px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #585858;
}
.footer-project input.error::placeholder{
  color: red;
}
.footer-project input.error{
  color: red;
}

.footer-project label{
  height: 45px;
  position: relative;
  top: -45px;
}

.footer-project button{
  width: 40%;
  height: 45px;
  position: relative;
  float: right;
  top: -45px;
  border-radius: 22.5px;
  background-image: linear-gradient(to right, #74ebd5, #009efd);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  border: 0;
  outline: none;
}

.footer-project button:hover{
  opacity: 0.8;
  color: #222;
  box-shadow: 0 2px 15px 0 #222;
}

.footer-project button.active:hover{
  opacity: 1;
  color: #fff;
  box-shadow: 0 2px 5px 0 #222;
}
.thank{
  opacity: 0;
}
.hidden{
  opacity: 0;

}
.thank.active{
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .header-project {
    margin-bottom: 20px;
  }
  .logo {
    left: 10px;
    top: 10px;
    width: 120px;
    height: 30px;
  }
  .main-nav{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
  }
  .main{
    padding: 0 10px 0 10px;
    margin-bottom: 50px;
  }

  .main .left-block{
    width: 100%;
    height: auto;
  }
  .main .right-block{
    display: none;
  }

  .main .tagline{
    font-size: 24px;
  }

  .main .description{
    margin-top: 20px;
    font-size: 16px;
  }
  .main .left-block a{
    margin-top: 20px;
    width: 100%;
    height: 45px;
  }

  .footer-project{
    padding: 0 0 100px 0;
    display: block;
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(231, 231, 231, 1));*/
  }

  .footer-project .left-block{
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;
    background-image: none;
  }
  .footer-project .right-block{
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: auto;
    background-image: none;
  }

  .footer-project .left-block .tagline{
    margin-top: 10px;
    color: white;
    font-size: 24px;
  }
  .footer-project .right-block img{
    margin-top: 60px;
  }
  .footer-project form{
    margin-top: 20px;
  }
  .footer-project input{
    width: 100%;
    height: 45px;
  }

  .footer-project label{
    height: 45px;
    position: relative;
    top: -45px;
  }

  .footer-project button{
    width: 40%;
    height: 45px;
    position: relative;
    float: right;
    top: -45px;
  }
}

@media screen and (max-width: 480px) {

}
